/* -------------------------------------------biến-------------------------------------------*/
:root {
    --mobile-width: 988px; /*có sửa thì sửa cả phần @media nữa nhé*/
    --logo-size: 35px;
}
/* -------------------------------------------end biến-------------------------------------------*/

/* -------------------------------------------mặc định-------------------------------------------*/
@keyframes slide-in {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
    font-family: 'sans-serif','arial';
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
}

body {
    font-size: 16px;
}
/*div {
width: 100%;
}*/
nav a {
    text-transform: uppercase;
}

ul, li {
    text-align: center;
    height: 100%;
}

ul {
    width: 100%;
    align-self: center;
}

.active, .active:hover {
    background-color: #fff;
    color: seagreen;
}
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-bold {
    font-weight: bold;
}

.text-justify {
    text-align: justify;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
.new-mb {
    line-height: 1.5;
    margin-bottom: 1em;
}
.btn {
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    padding: .4rem .7rem;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    border-radius: .25rem;
    outline: none;
}

.btn-collapse {
    height: 50px;
    padding: 13px 16px;
    color: #fff;
}

.btn-light {
    width: 50px;
    color: seagreen;
    background-color: #fff;
    border-radius: 0px;
}

.hidden {
    display: none;
}

.text-detail {
    opacity: .8;
}

.main-side, .sub-side {
    position: relative;
    width: 100%;
}

.main-side {
    flex: 0 0 61%;
    max-width: 61%;
    padding-right: 10px;
}

.sub-side {
    flex: 0 0 39%;
    max-width: 39%;
    padding-left: 10px;
}

.box-content {
    display: flex;
    flex-wrap: wrap;
}
/* -------------------------------------------end mặc định-------------------------------------------*/

/* -------------------------------------------style-------------------------------------------*/
header {
    position: absolute;
    width: 100%;
    color: #fff;
    height: 0px;
    z-index: 9 !important;
}

    header div {
        max-width: var(--mobile-width);
        margin: auto;
    }

#collapseBtn {
    display: none;
}

.logo-symbol {
    font-size: var(--logo-size);
    padding: 2px 10px;
    border-radius: 5px;
    background: seagreen;
    color: #fff;
    font-weight: 900;
}

.logo-text {
    font-size: var(--logo-size);
    color: seagreen;
    font-weight: 900;
}

nav ul {
    background-color: seagreen;
    height: 40px;
    margin-bottom: 1rem;
}

nav li {
    display: inline-block;
    background-color: seagreen;
    padding: .8em 2em;
    font-weight: bold;
    color: #fff;
}

    nav li:hover {
        background-color: #1e7b47;
    }

nav form {
    margin: auto;
    margin-top: -40px;
    max-width: 500px;
}

.wrapper {
    padding-top: 50px;
    position: absolute;
    width: 100%;
    margin-top: 0%;
    z-index: 1 !important;
    background-color: #fff;
}

header i:active {
    transform: rotate(180deg);
    transition: .2s;
}
.slide-down {
	margin-top: 0% !important;
}
.wrapper input {
    margin: 10px !important;
    padding: 10px;
    width: 95%;
    height: 40px;
    border: solid 1px #eee;
    z-index: 1;
    outline: none;
}

.wrapper button {
    z-index: 2;
    color: #fff;
    margin-top: -80px;
    margin-right: 10px;
    background-color: seagreen;
    border-radius: 0px;
    border: none;
    height: 40px;
    width: 40px;
}

#body {
    max-width: var(--mobile-width);
    padding: 10px;
    padding-top: 145px;
    margin: auto;
}

article {
    padding-bottom: .7em;
}

.hot-news {
    display: flex;
}

.hr {
    margin-bottom: 1em;
}

.news .img {
    width: 100%;
}

.news div {
    display: inline-flex;
}

.news p {
    width: 100%;
    margin-left: 1em;
}

.hot-news-main {
    width: 60%;
}

.hot-news-subs {
    margin-left: 1em;
    width: 38%;
}

.hot-news-subs p a, .sub-side p a {
    padding-top: 0px;
    color: #000;
    font-weight: bold;
    font-size: 1.05em !important;
}
.hot-news-main img {
    max-height: 330px;
}
.hot-news-subs img {
    max-height: 100px;
}
.sub-side .news div {
    margin-top: .9rem;
}
.main-side .topic-news img {
    max-height: 155px;
}
.sub-side img {
    max-height: 95px;
}
a.img {
    max-width: 290px;
}

.news img {
    width: 100%;
}

.news img:hover {
    transform: scale(1.1);
    opacity: .7;
}

.news a {
    display: block;
    overflow: hidden;
}

    .news a:hover {
        color: seagreen;
    }

.news p, .hot-news p {
    font-size: 17px;
}

article .news-title {
    font-size: 22px;
    text-align: justify;
    font-weight: bold;
    padding: .4em 0em;
}

.topic-title {
    padding: .3em 0;
    font-weight: bold;
    border-bottom: 2px solid seagreen;
    margin-bottom: .5em;
}

h2.topic-title {
    padding-top: 0px;
}

.topic-text {
    padding: .4em .7em;
    color: #fff !important;
    background-color: seagreen;
}

.sub-side article a {
    font-size: 12px;
}

.view-count {
    display: block;
    text-align: center;
    user-select: none;
    padding: .5rem .7rem;
    line-height: 1.5;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    font-size: 1.3rem;
    position: fixed;
    right: 0;
    top: 65%;
    background-color: seagreen;
    color: #fff;
    z-index: 9;
}

.footer {
    height: 180px;
    padding: 1rem;
    border-top: 3px solid seagreen;
    color: #aaa;
    background-color: #333;
}

.footer-content {
    margin: auto;
    max-width: var(--mobile-width);
}

footer li {
    display: inline-block;
    padding: .6rem;
}

.slide, .slide .news-title {
    overflow: hidden;
    padding-bottom: 0px;
}

.hidden {
    transition: all 0.3s ease-in-out;
}

.slide-img, .slide-title {
    overflow: hidden;
    width: 100%;
    max-height: 325px;
    animation: slide-in .5s;
}

.news-slider {
    position: relative;
}

.slide-controller {
    background: linear-gradient(to top, seagreen, transparent);
    width: 100%;
    padding-bottom: .3rem;
    position: relative;
    bottom: 0;
    transform: translate(0,-100%);
}

    .slide-controller .btn {
        color: #fff;
        font-size: 20px;
    }

.previous-news {
    float: left;
}

.next-news {
    float: right;
}

.text-under-slide {
    clear: both;
    transform: translate(0,-70%);
}
/* -------------------------------------------end style-------------------------------------------*/

/* -------------------------------------------responesive-------------------------------------------*/
@media screen and (max-width: 988px) {
    header {
        position: fixed;
        top: 0;
        background-color: seagreen;
        color: #fff !important;
        height: 50px;
    }

    #collapseBtn {
        display: block;
    }

    header button {
        font-size: 16px;
    }

    .wrapper {
        position: fixed;
        margin-top: -150%;
    }

    .logo-symbol {
        font-size: 16px;
        padding: 0px 5px;
        border-radius: 5px;
        background: #fff;
        color: seagreen;
    }

    .logo-text {
        font-size: 16px;
        color: #fff;
        font-weight: bold;
    }

    nav form {
        margin: auto;
        max-width: var(--mobile-width);
    }

    #a-home {
        display: none;
    }

    nav li {
        font-size: .8em;
        width: 30%;
        margin: 5px 5px;
        width: 130px !important;
        background-color: #eee;
        border: 1px solid #ddd;
        padding: 10px 10px;
        color: #555;
    }

    nav ul {
        background-color: #fff;
        height: auto;
    }

    #body {
        max-width: 700px;
        padding: 10px;
        padding-top: 60px;
    }

    article .news-title {
        font-size: 20px;
    }

    .hot-news {
        display: block;
    }

    .hot-news p {
        font-size: 17px;
    }

    .hot-news-main {
        width: 100%;
    }

    .hot-news-subs {
        margin: 0;
        width: 100%;
    }

    .main-side, .sub-side {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        padding: 0px;
    }

    .sub-side article a {
        font-size: 14px;
    }
    .main-side .topic-news img, .sub-side img {
        width:100%;
        max-height: 100px;
    }
}
/* -------------------------------------------end responesive-------------------------------------------*/
