
@{
    ViewBag.Title = "Login";
}
<form action="~/Login/check_login" method="post" class="login-box">
    <h1>IT NEWS</h1>
    <div class="textbox">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input type="text" name="Username" placeholder="Tên tài khoản">
    </div>
    <div class="textbox">
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input type="password" name="Password" placeholder="Mật khẩu">
    </div>
    <input class="btn" type="submit" name="" value="Đăng nhập">
</form>
<script>
    var message = window.location.search.substr(1).substring(7);
    if (message.length > 0) {
        console.log(message);
        if (message == "true" || message == "True") {
            alert("Đổi mật khẩu thành công! Hãy đăng nhập lại!");
        }
        else {
            alert("Đổi mật khẩu không thành công");
        }
    }
</script>


